{% extends 'base.html' %}

{% block content %}

    <h2 class="text center" style="margin-left: 25px;"> Search Results: </h5><hr>
        
        <div class="container">
            <div class="row justify-content-center m-4">

                {% if products %}

                    {% for product in products %}

                    <div class="col-md-4">

                        <div class="card m-3 p-2" style="width: 18rem; height: 33rem; box-shadow: 4px 4px #c291fa; border-radius: 25px 15px;">
                            <img src="{{ product.product_image.url }}" style="height: 300px; width: 200px;"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 style="font-size: 17px;" class="card-title mt-1">{{ product.product_name }}</h4>
                                <h3 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">${{ product.product_price }}</h3>
                                <hr>
                                <p style="font-size: 13px;" class="btn btn-warning"><b>{{ product.product_description }}</b></p>
                                <p style="font-size: 13px;" class="cart-text mt-1">{{ product.added_at }}</p>                
                            </div>
            
                            <div class="row">
                                <div class="col-auto">
                                    <span><a href="{% url 'product_detail' product.pk %}" style="background-color: #5707b3;" class="btn btn-primary m-1">Detail</a></span>
                                </div>
                                <div class="col-auto">
                                    <span><a href="#" style="background-color: #5707b3;" class="btn btn-primary m-1">Cart</a></span>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-auto">
                                    <span><a href="{% url 'update_product' product.pk %}" style="background-color: #5707b3;" class="btn btn-primary m-1">Update</a></span>
                                </div>
                                <div class="col-auto">
                                    <span><a href="{% url 'delete_product' product.pk %}" style="background-color: #5707b3;" class="btn btn-primary m-1">Delete</a></span>
                                </div>
                            </div>   
                                    
                        </div>
            
                    </div>

                    {% endfor %}
        
                {% else %}

                    <p>No such products is available </p>

                {% endif %}
        
                </div>
            </div>

{% endblock %}